/* seclector-exc */
/* 1 */
/* p{
    color: red;
} */

/* 2 */
/* #doan2 {
    color: #00FF00;
} */

/* 3 */
/* .font{
    font-size: 24px;
} */

/* 4 */
/* div{
    font-size: 3em;
    background: wheat;
  } */

  /* 5
  #div2{
    color: blue;
  } */

  /* 6 */
  /* [target] {
      color: yellow;
  } */

  /* 7 */
  /* ul{
      font-weight: bold;
  } */

  /* 8 */
   /* span {
      font-size: 18px;
  }

  .item div span{
      font-style: italic;
  } */
  
  /* property-exc */
  /* 1.1 */
  /* div{
    background-color: wheat;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
  }  */

  /* 1.2 */
  /* a{
    display: inline-block;
    width: 100px;
    height: 80px;
    background:wheat;
    color: red;
    text-decoration: none;
    text-align: center;
    padding-top: 50px;
  } */

  /* 1.3 */
  /* #div1{
      height: 135px;
      width: 500px;
  }
  #div2{
    height: 135px;
    width: 500px;
  }
  #div3{
    height: 135px;
    width: 500px;
  }
  div{
      height: 75px;
      width: 75px;
      background-image: url(https://i.pinimg.com/originals/d4/bc/c4/d4bcc46e371e194b20854acd1ba3a86b.jpg);
      background-size: contain;
      background-repeat: no-repeat;
  } */

  /* 2 */
   /* #div1{
    height: 300px;
    width: 800px;
    background-image: url(https://lh3.googleusercontent.com/6UgEjh8Xuts4nwdWzTnWH8QtLuHqRMUB7dp24JYVE2xcYzq4HA8hFfcAbU-R-PC_9uA1);
    background-repeat: no-repeat;
    background-size: contain;
  }
  #div2{
    height: 300px;
    width: 800px;
    background-image: url(https://lh3.googleusercontent.com/6UgEjh8Xuts4nwdWzTnWH8QtLuHqRMUB7dp24JYVE2xcYzq4HA8hFfcAbU-R-PC_9uA1);
    background-repeat: no-repeat;
    border-radius: ;    
  }  */

  /* border */
  /* div{
    width: 200px;
    height:200px;
    background:wheat;
    font-size:30px;
    text-align:center;
    line-height:200px;
    border-style:solid;
    border-color:blue;
    border-radius:20px;
  } */

  /* display */
  /* 1 */
  /* span{
    background: red;
    display:block;
  }
  div{
    background: blue;
  } */

  /* 2 */
  /* div{
    background: red;
    display:inline;
  } */

  /* 3 */
  /* #span1{
    background: red;
  }
  #span2{
    width: 500px;
    background:yellow;
    display:inline-block;
  } */

  /* box model */
  /* 1 */
  /* div{
    background: wheat;
    width:400px;
    border: 2px solid green;
    padding-left:40px;
    padding-right:40px;
    padding-top:45px;
    padding-bottom:45px;
  } */

  /* 2 */
  /* #a >div {
    background:wheat;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
 }
 #a{ 
   border:1px solid black
 } */

 /* 3 */
 /* div{
    width : 0px;
    height : 200px;
    font-size:2em;
    background:wheat;
    padding-left: 200px;
  } */